$background_color: #dadada;
$primary_color: #777e5c;
$secondary_color: #b0b6bc;
$highlight_color: #d1d8bd;
$accent_color: #221A24;
$text_color: #272727;

$header_background: #4b484f;
$header_primary: #4b484f;
$header_secondary: #c7c2ab;
$header_highlight: #991EB4;
$header_accent: #484848;

$footer_background: #272727;
$footer_primary: #FFFFFF;
$footer_secondary: #BD176D;
$footer_highlight: #991EB4;
$footer_accent: #1C1B1B;

$perlemedia_gradient:linear-gradient(98deg, $primary_color 0%, $secondary_color 100%);

