$transition: .4s ease-in;

$half_padding: 5px;
$standard_padding: 10px;
$double_padding: 20px;

$container_padding: 20px;
$nagivation_padding_mobile:20px;

$border_radius:15px;
$box_shadow: 5px 5px 20px -5px rgba(0,0,0,.3);

