/**
 * Front Page
 */
#content.front-page{
    min-height: calc(100vh - #{$header_height_mobile} - 20vh); //20vh: footer height placeholder
    .site-container{
        .filter-form{
            .tool-wrapper{
                display: flex;
                align-items: center;
                column-gap: $container_padding;
                .search{
                    flex-wrap: nowrap;
                    width: 100%;
                    column-gap: 15px;
                }
                input#search-titles{
                    width: 100%;
                    border: none;
                    padding: $standard_padding;
                }
            
                #filter-recipes,
                #search-recipes{
                    padding: 0;
                    background: transparent;
                    margin: 0 auto;
                    width: 30px;
                    display: flex;
                    align-items: center;
                    svg{    
                        width: 100%;
                        height: 25px;
                        fill: #4c484e;
                        &#search-icon{
                            width: 80%;
                        }
                    }
                }
            }
            #filter-wrapper{
                overflow: hidden;
                max-height:0;
                background-color: $accent_color;
                color:#fff;
                transition:$transition;
                margin:20px 0 0 0;
                .header-container{
                    .filter-header{
                        align-items: center;
                        padding: 10px 15px;
                        justify-content: flex-end;
                        .caption{
                            margin: 0 auto 0 0;
                            font-size: 1.5em;
                            color: white;
                        }
                        .button{
                            border-radius: 100px;
                            margin-left: 10px;
                            padding:5px 10px;
                            &:not(#filter-recipes){
                                background: rgba(255,255,255,.2);
                            }
                        }
                    }
                }
                &.active{
                    max-height: 200vh;
                    transition:$transition;
                    margin: 20px 0 20px 0;
                }
                .filter{
                    .filter-label{
                        padding: 10px 15px;
                        display: flex;
                        .accordion-expand{
                            margin-left: auto;
                        }
                        &:not(:last-child){
                            border-bottom: 1px solid rgba(255,255,255,.1);
                        }
                    }
                    .accordion-content{
                        background: rgba(255,255,255,.025);
                        overflow:hidden;
                        height: 0;
                        padding:0 15px;
                        label{
                            font-size:12px;
                            display:inline-block;
                            margin: 5px;
                            padding: 5px 10px;
                            line-height: 1em;
                            border-radius: 100px;
                            background: rgba(255,255,255,.2);
                            &.active{
                                background-color: $primary_color;
                            }
                        }
                        input[type="checkbox"]{
                            display:none;
                        }
                        &.calories{
                            display: flex;
                            column-gap: 15px;                    
                            input[type="number"]{
                                width: 100%;
                                border: none;
                                padding: 10px;
                                margin:10px 0;
                                border-radius: 100px;
                            }
                        }
                    }
                    &.active{
                        .accordion-content{
                            height: 100%;
                            padding:10px 15px;
                        }
                    }
                }
            }
        }
        .wrapper{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: stretch;
            column-gap:$column_gap;
            row-gap:20px;
            margin-top: auto;
            .recipe-card{
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                padding: 15px;
                background-color: white;
                border-radius: 15px;
                overflow: hidden;
                h3{
                    text-align: center;
                }
                .wrapper{
                    .image-wrapper{
                        position: relative;
                        margin-top: auto;
                        border-radius: 15px;
                        width: 100%;
                        padding-top: 66.67%;
                        height: 0;
                        cursor: pointer;
                        overflow: hidden;
                        img{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            opacity: 0.7;
                            transition: all 0.4s ease-in-out;
                        }
                        .meta{
                            position: absolute;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            bottom: 0;
                            width: 100%;
                            padding: 30px 15px 15px;
                            font-weight: bold;
                            background: linear-gradient(180deg, rgba(29, 29, 29, 0) 0%, rgba(29, 29, 29, 0.8) 100%);
                            .calories{
                                position: relative;
                                display: flex;
                                align-items: center;
                                span{
                                    padding-top: 5px;
                                    color: white;
                                }
                            }
                        }
                    }
                }
                &:hover{
                    .wrapper{
                        .image-wrapper{
                            img{
                                width: 110%;
                                height: 110%;
                                top: -5%;
                                left: -5%;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
    
@media (min-width:$query_tablet){

}
@media (min-width:$query_laptop){
    
}
@media (min-width:$query_lgscreen){

}

@media (min-width:$query_retina){
    
}

@media (min-width:$container_max_width){

}
}

